

/* dat gui */
.dg {
  display: none;
}

.classes {
  position: absolute;
  margin: 0.5em 1em;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-size: 8px;
  width: 40%;
  text-align: left;
}

.classes p {
  display: inline-block;
  margin: 0;
}

.prediction {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 15px;
  display: flex;
 
  height: 3em;
  
  color: white;
  text-align: center;
  font-size: 0.3em;
  font-family: Helvetica;
}

progress {
  display: block;
  width: 50%;
  height: 10px;
   top: 70px;
  margin: 0.5em 0;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

progress:before {
  content: attr(data-label);
  font-size: 0.5em;
  vertical-align: middle;

  /*Position text over the progress bar */
  position: absolute;
  left: 0;
  right: 0;
}

progress::-webkit-progress-value {
  background: rgb(41, 151, 208);
  -webkit-transition-property: width;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  transition-property: width;
}

progress::-webkit-progress-bar {
  transition: width 1s;
}

@media (min-width: 500px) {
  .dg {
    display: block;
  }

  canvas {
    height: 90%;
  }

  .prediction {
    height: 10%;
  }

  .classes {
    width: 20%;
  }

  .content {
    width: 50%;
  }
}

#deletethislater{
    
    
    }

#webcam1 {

border: 1px solid black;
  display: block;
 
border: none;

position: fixed;
font-style: bold;
  color: #ff9853;
 
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -300;
   
    background-size: cover;

    }

.dg ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
}
.dg.ac {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 0;
}
.dg:not(.ac) .main {
  overflow: hidden;
}
.dg.main {
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.dg.main.taller-than-window {
  overflow-y: auto;
}
.dg.main.taller-than-window .close-button {
  opacity: 1;
  margin-top: -1px;
  border-top: 1px solid #2c2c2c;
}
.dg.main ul.closed .close-button {
  opacity: 1 !important;
}
.dg.main:hover .close-button,
.dg.main .close-button.drag {
  opacity: 1;
}
.dg.main .close-button {
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  border: 0;
  position: absolute;
  line-height: 19px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  background-color: #000;
  display: none;
}
.dg.main .close-button:hover {
  background-color: #111;
}
.dg.a {
  float: right;
  margin-right: 15px;
  overflow-x: hidden;
}
.dg.a.has-save ul {
  margin-top: 27px;
}
.dg.a.has-save ul.closed {
  margin-top: 0;
}
.dg.a .save-row {
  position: fixed;
  top: 0;
  z-index: 1002;
}
.dg li {
  -webkit-transition: height 0.1s ease-out;
  -o-transition: height 0.1s ease-out;
  -moz-transition: height 0.1s ease-out;
  transition: height 0.1s ease-out;
}
.dg li:not(.folder) {
  cursor: auto;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  padding: 0 4px 0 5px;
}
.dg li.folder {
  padding: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
}
.dg li.title {
  cursor: pointer;
  margin-left: -4px;
}
.dg .closed li:not(.title),
.dg .closed ul li,
.dg .closed ul li > * {
  height: 0;
  overflow: hidden;
  border: 0;
}
.dg .cr {
  clear: both;
  padding-left: 3px;
  height: 27px;
}
.dg .property-name {
  cursor: default;
  float: left;
  clear: left;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dg .c {
  float: left;
  width: 60%;
}
.dg .c input[type="text"] {
  border: 0;
  margin-top: 4px;
  padding: 3px;
  width: 100%;
  float: right;
}
.dg .has-slider input[type="text"] {
  width: 30%;
  margin-left: 0;
}
.dg .slider {
  float: left;
  width: 66%;
  margin-left: -5px;
  margin-right: 0;
  height: 19px;
  margin-top: 4px;
}
.dg .slider-fg {
  height: 100%;
}
.dg .c input[type="checkbox"] {
  margin-top: 9px;
}
.dg .c select {
  margin-top: 5px;
}
.dg .cr.function,
.dg .cr.function .property-name,
.dg .cr.function *,
.dg .cr.boolean,
.dg .cr.boolean * {
  cursor: pointer;
}
.dg .selector {
  display: none;
  position: absolute;
  margin-left: -9px;
  margin-top: 23px;
  z-index: 10;
}
.dg .c:hover .selector,
.dg .selector.drag {
  display: block;
}
.dg li.save-row {
  padding: 0;
}
.dg li.save-row .button {
  display: inline-block;
  padding: 0px 6px;
}
.dg.dialogue {
  background-color: #222;
  width: 460px;
  padding: 15px;
  font-size: 8px;
  line-height: 15px;
}
#dg-new-constructor {
  padding: 10px;
  color: #222;
  font-family: Monaco, monospace;
  font-size: 8px;
  border: 0;
  resize: none;
  box-shadow: inset 1px 1px 1px #888;
  word-wrap: break-word;
  margin: 12px 0;
  display: block;
  width: 440px;
  overflow-y: scroll;
  height: 100px;
  position: relative;
}
#dg-local-explain {
  display: none;
  font-size: 8px;
  line-height: 17px;
  border-radius: 3px;
  background-color: #333;
  padding: 8px;
  margin-top: 10px;
}
#dg-local-explain code {
  font-size: 8px;
}
#dat-gui-save-locally {
  display: none;
}
.dg {
  color: #eee;
  font: 8px "Lucida Grande", sans-serif;
  text-shadow: 0 -1px 0 #111;
}
.dg.main::-webkit-scrollbar {
  width: 5px;
  background: #1a1a1a;
}
.dg.main::-webkit-scrollbar-corner {
  height: 0;
  display: none;
}
.dg.main::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #676767;
}
.dg li:not(.folder) {
  background: #1a1a1a;
  border-bottom: 1px solid #2c2c2c;
}
.dg li.save-row {
  line-height: 25px;
  background: #dad5cb;
  border: 0;
}
.dg li.save-row select {
  margin-left: 5px;
  width: 108px;
}
.dg li.save-row .button {
  margin-left: 5px;
  margin-top: 1px;
  border-radius: 2px;
  font-size: 8px;
  line-height: 7px;
  padding: 4px 4px 5px 4px;
  background: #c5bdad;
  color: #fff;
  text-shadow: 0 1px 0 #b0a58f;
  box-shadow: 0 -1px 0 #b0a58f;
  cursor: pointer;
}
.dg li.save-row .button.gears {
  background: #c5bdad
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpiYKAU/P//PwGIC/ApCABiBSAW+I8AClAcgKxQ4T9hoMAEUrxx2QSGN6+egDX+/vWT4e7N82AMYoPAx/evwWoYoSYbACX2s7KxCxzcsezDh3evFoDEBYTEEqycggWAzA9AuUSQQgeYPa9fPv6/YWm/Acx5IPb7ty/fw+QZblw67vDs8R0YHyQhgObx+yAJkBqmG5dPPDh1aPOGR/eugW0G4vlIoTIfyFcA+QekhhHJhPdQxbiAIguMBTQZrPD7108M6roWYDFQiIAAv6Aow/1bFwXgis+f2LUAynwoIaNcz8XNx3Dl7MEJUDGQpx9gtQ8YCueB+D26OECAAQDadt7e46D42QAAAABJRU5ErkJggg==)
    2px 1px no-repeat;
  height: 7px;
  width: 8px;
}
.dg li.save-row .button:hover {
  background-color: #bab19e;
  box-shadow: 0 -1px 0 #b0a58f;
}
.dg li.folder {
  border-bottom: 0;
}
.dg li.title {
  padding-left: 16px;
  background: #000
    url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==)
    6px 10px no-repeat;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.dg .closed li.title {
  background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==);
}
.dg .cr.boolean {
  border-left: 3px solid #806787;
}
.dg .cr.function {
  border-left: 3px solid #e61d5f;
}
.dg .cr.number {
  border-left: 3px solid #2fa1d6;
}
.dg .cr.number input[type="text"] {
  color: #2fa1d6;
}
.dg .cr.string {
  border-left: 3px solid #1ed36f;
}
.dg .cr.string input[type="text"] {
  color: #1ed36f;
}
.dg .cr.function:hover,
.dg .cr.boolean:hover {
  background: #111;
}
.dg .c input[type="text"] {
  background: #303030;
  outline: none;
}
.dg .c input[type="text"]:hover {
  background: #3c3c3c;
}
.dg .c input[type="text"]:focus {
  background: #494949;
  color: #fff;
}
.dg .c .slider {
  background: #303030;
  cursor: ew-resize;
}
.dg .c .slider-fg {
  background: #2fa1d6;
}
.dg .c .slider:hover {
  background: #3c3c3c;
}
.dg .c .slider:hover .slider-fg {
  background: #44abda;
}


  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline z-index:12;}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

textarea:focus, input:focus{outline: none; }
*:focus {outline: none;}

body {

  background-color: #000000;
}



.wrapper {

width: 100vw;
height: 100vh;
float: left;
box-sizing: border-box;
position: relative;

   }


#endec1{
left: 300px;
top: 400px;
}

#endec2{
left: 300px;
top: 400px;
}

#intru1{
color: #fff;
  font-size: 8px;;



-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
  width: 50%;
margin: 0 auto;
position: absolute;
bottom: 50px;
left: 0;
right: 0;
text-align: center;
}

#intru2{
  font-size: 8px;;
color: #fff;


-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
  width: 50%;
margin: 0 auto;
position: absolute;
bottom: 50px;
left: 0;
right: 0;
text-align: center;
}


#intru{
  font-size: 8px;;



-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
  width: 50%;
margin: 0 auto;
position: absolute;
bottom: 50px;
left: 0;
right: 0;
text-align: center;

}



.title {
  width: 100%;
  height: 20vh;
  display: table;
  text-align: center;
  box-sizing: border-box;
}
.title h1 {
font-size: 50px;
color: #FFFFFF;
  display: table-cell;
  vertical-align: middle;
}

.vision {
width: 100%;
height: 80vh;
position: relative;
overflow: hidden;
    z-index: 10;
}

.stage {
width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.overlay {
width: 100%;
  height: 100%;
  position: relative;
 
background-repeat: repeat;
background-position: center;
}

.overlay .positionals {
width: 25%;
margin: 0 auto;
position: absolute;
bottom: 30px;
left: 50px;
text-align: left;
}
.overlay .positionals p {font-size: 12px;}

.overlay .model {
width: 25%;
margin: 0 auto;

position: absolute;
bottom: 30px;
right: 50px;
text-align: right;
}
.overlay .model p {font-size: 12px;}

.overlay .left {
width: 40%;
position: absolute;
top: 50px;
left: 50px;

}
.overlay .right {
width: 40%;
position: absolute;
top: 50px;
right: 50px;
text-align: right;
}
.overlay p {
font-size: 10px;
color: #FFFFFF;
margin: 0 auto;
}
.overlay .center {
width: 50%;
margin: 0 auto;
position: absolute;
bottom: 50px;
left: 0;
right: 0;
text-align: center;
}
.overlay .center p {font-size: 20px;}
.overlay .center p span {opacity: 1;}
span.letter1 {
-webkit-animation: letterone 1s infinite;
  animation: letterone 1s infinite;
}
span.letter2 {
-webkit-animation: lettertwo 1s infinite;
  animation: lettertwo 1s infinite;
}
span.letter3 {
-webkit-animation: letterthree 1s infinite;
  animation: letterthree 1s infinite;
}
span.letter4 {
-webkit-animation: letterfour 1s infinite;
  animation: letterfour 1s infinite;
}
span.letter5 {
-webkit-animation: letterfive 1s infinite;
  animation: letterfive 1s infinite;
}
span.letter6 {
  -webkit-animation: lettersix 0.75s infinite;
  animation: lettersix 0.75s infinite;
}



@-webkit-keyframes letterone {80% {opacity: 0;}}
@keyframes letterone {80% {opacity: 0;}}

@-webkit-keyframes lettertwo {85% {opacity: 0;}}
@keyframes lettertwo {85% {opacity: 0;}}

@-webkit-keyframes letterthree {90% {opacity: 0;}}
@keyframes letterthree {90% {opacity: 0;}}

@-webkit-keyframes letterfour {95% {opacity: 0;}}
@keyframes letterfour {95% {opacity: 0;}}

@-webkit-keyframes letterfive {100% {opacity: 0;}}
@keyframes letterfive {100% {opacity: 0;}}

@-webkit-keyframes lettersix {100% {opacity: 0;}}
@keyframes lettersix {100% {opacity: 0;}}


p.dimension1,
p.dimension2,
p.dimension3,
p.dimension4,
p.dimension5 {opacity: 0;}

p.dimension1.show,
p.dimension2.show,
p.dimension3.show,
p.dimension4.show,
p.dimension5.show {opacity: 1;}

p.dimension5.show {
-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
}

p.dimension55.show {
-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
}
@-webkit-keyframes fit {100% {opacity: 0;}}
@keyframes fit {100% {opacity: 0;}}




/*
----------
BELOW 1400
----------
*/
@media screen and (max-width: 1399px) {

  .overlay p {  font-size: 8px;; font-weight: bold;}
 
}

/*
----------
BELOW 1000
----------
*/
@media screen and (max-width: 999px) {
 
  .title h1 {  font-size: 8px;; font-weight: bold;}
  .overlay p {  font-size: 8px;; font-weight: bold;}
 
}
  body {
 
}

h1 {
  visibility:hidden;
}

 #title1 {
  font-size: 8px;
font-weight: bold;
color: #ffffff;
top: 73px;
left: 10px;
position: fixed;
 
}

#title48 {
  font-size: 8px;
font-weight: bold;
color: #ffffff;
top: 99px;
left: 350px;
position: fixed;
 
}


.videoView, .classifyOnClick {
  position: fixed;
 
   z-index: 100;
 
   
  cursor: pointer;

 
}


.videoView, .classifyOnClick10 {
  position: fixed;
  top: 100px;
 
   z-index: 100;
   
   
  cursor: pointer;

 
}

#liveView {

border: none;
z-index: 0;
position: fixed;
font-style: bold;
  color: #ff9853;
 
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: 0;
   
    background-size: cover;

}


video {

   
}

video {
  border: 1px solid black;
  display: block;
 
border: none;
z-index: -100;
position: fixed;
font-style: bold;
  color: #ff9853;
 
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
   
    background-size: cover;
    
}

#myCanvas2 {
  border: 1px solid black;
  display: block;
 
border: none;
z-index: -100;
position: fixed;
font-style: bold;
  color: #ff9853;
 
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
   
    background-size: cover;
}


 #webcamButton{
z-index: 10;
position: relative;

}




 .classifyOnClick1 p {
 
position: fixed;
  padding: 5px;

  color: #32CD32;
  
  z-index: 2;
  
margin-left: -35%;
   
z-index: 0;
position: fixed;
font-style: bold;
font-size: 12px;
-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
 


 
}

.classifyOnClick p {
 
z-index: 0;
position: fixed;
font-style: bold;
font-size: 20px;
  color: #ff0000;

-webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
 
 
}

.classifyOnClick10 p{

 border: 7px solid #ff0000;
z-index: 0;
position: fixed;
font-style: bold;
font-size: 20px;
  color: #ff0000;

  -webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;

}

.classifyOnClick2 {
 
z-index: 11;
position: fixed;


 
}

#myCanvas1

{

border: 1px solid black;
  display: block;
 
border: none;

position: fixed;
font-style: bold;
  color: #ff9853;
 
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -300;
   
    background-size: cover;


    }

#lefty{

top: 180px;

}

#centery{
  font-size: 8px;
font-weight: bold;
color: #ffffff;
top: 99px;
left: 20px;
position: fixed;
cursor: pointer;


}

#righty{

top: 180px;

}



.highlighter1 {
  background: rgba(0, 0, 0, 0);
  border: 10px solid #ff0000;
  z-index: 1;
  position: fixed;
 

  -webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
}

.highlighter {
margin-left: -35%;
 background: rgba(0, 0, 0, 0);
  border: 10px solid #32CD32;
  z-index: 1;
  position: fixed;


   -webkit-animation: fit 1s infinite;
  animation: fit 1s infinite;
}

.classifyOnClick {
  z-index: 4;
}

.classifyOnClick10 {
  z-index: 4;
}




canvas{

   
    zoom: 100%;
 
}

#endec {
right: 40px;

}

#dronedemo {
top:80px;
left: 15px;
font-weight: bold;
  font-size: 8px;
color: #ffffff;
  position: fixed;

z-index: 4;

    }


#demo{
top:90px;
left: 15px;
font-weight: bold;
  font-size: 8px;
color: #ffffff;
  position: fixed;

z-index: 4;

}

      #demodrone{
top:110px;
right: 30px;
font-weight: bold;
  font-size: 8px;
color: #ffffff;
  position: fixed;

z-index: 4;

}



#demo4{

font-weight: bold;
  font-size: 8px;
color: #000000;
  position: fixed;

z-index: 4;

}

#demo5{

font-weight: bold;
  font-size: 8px;
color: #000000;
  position: fixed;

z-index: 4;

}

#digital-clock{
top: 110px;
left: 10px;
font-weight: bold;
  font-size: 8px;
color: #ffffff;
  position: fixed;

z-index: 4;

}

.classifyOnClick1 progress {
  width: 5%;
  height: 10px;
right: 50px;
top: 55px;
  position: fixed;
  z-index: 10;
}
.classifyOnClick1 progress.charging {
 border: 3px solid black;
right: 50px;
 position: fixed;
  z-index: 10;
}
.classifyOnClick1 progress.draining {
  border: 3px solid red;
 right: 50px;
  position: fixed;
   z-index: 10;
}



#batteryname {
right: 50px;
top: 45px;
  position: fixed;
  z-index: 10;
  font-weight: bold;
  font-size: 8px;
color: #ffffff;
  position: fixed;

z-index: 4;


}

.btn {


    display: inline-block;
    padding: 6px 6px;
    margin-bottom: 0;
     font-size: 8px;
    font-weight: normal;
    line-height: 0.72857143;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {

    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
 .fileinput-button {
    position: fixed;
    overflow: hidden;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.btn1 {


    display: inline-block;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 8px;
    font-weight: normal;
    line-height: 0.72857143;
    text-align: right;
    white-space: nowrap;
   
    vertical-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success1 {

    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
 .fileinput-button1 {
    position: fixed;
    overflow: hidden;
}
/*Also*/
 .fileinput-button1 input {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

      a{
position: relative;
     color: #000;
          font: 0.6rem "Fira Sans", sans-serif;
    background-color:#FFD700;
          background-size:100px;
          scale: 1.7 50%;
    border-color: #dddddd;
    border-radius: 2px;
          border-size: 10px;
   
  
          }
video, input {
   
}

input {
       
}

#draft{

font-weight: bold;
  font-size: 8px;
color: #000000;
  position: fixed;

z-index: 4;

}
#input{

font-weight: bold;
  font-size: 8px;
color: #000000;
  position: fixed;

z-index: 7;

}
